<!-- user dashboard page -->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Todo: change title name -->
  <title>Post Management</title>
  <link rel="icon" href="../assets/images/login3.png" />

  <!-- Styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="../assets/styles/adminManagePost.css"/>
  <link rel="stylesheet" href="../assets/styles/common.css"/>
  <link rel="stylesheet" href="../assets/styles/adminCommon.css"/>

  <!-- Bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>

  <!-- Custom js -->
  <script src="../assets/js/adminPost.js">
  </script>
</head>

  <body class="d-flex flex-column min-vh-100 bg-grey">
    <!--Header bar -->
    <div class="container-fluid header bg-white">
      
      <div class="container header-announcement">
        <!-- fill in by adminDash.js -->
      </div>
    </div>
    <!--Header bar -->
    <!--Navbar -->
    <nav class="navbar navbar-expand-xl">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link active" href="#">Posts Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="user-management">Users Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="add-game">Add Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="game-management">Games Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
            </li>
      </div>
    </nav>
    <!--Navbar -->
    <div class="timeline">

        <div class="tab-content">
            <div class="tab-pane active">
                
                <div class="d-flex filter-container">
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle filter" type="button" data-toggle="dropdown">Filter User
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="dropdownUser">
                      <input class="form-control" id="userSelect" type="text" placeholder="Search User.." onkeyup="filterUser()">

                    </ul>
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle filter" type="button" data-toggle="dropdown">Filter Game
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="dropdownGame">
                      <input class="form-control" id="gameSelect" type="text" placeholder="Search Game.." onkeyup="filterGame()">

                    </ul>
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle filter" type="button" data-toggle="dropdown">Filter Champion
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="dropdownChamp">
                      <input class="form-control" id="champSelect" type="text" placeholder="Search Champion.." onkeyup="filterChamp()">
                    </ul>
                  </div>
                </div>

                <div id="posts">
                    
                </div>
            </div>
        </div>
    </div>
    

    <!-- Footer -->
    <footer class="page-footer mt-auto bg-blue">
      <div class="text-center py-3 footer-text">© 2022 CSC309 Winter:
        <a href="https://github.com/csc309-winter-2022/team47"> Team 47</a>
      </div>
    </footer>
  <!-- Footer -->
  </body>
</html> 