<!-- user dashboard page -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Todo: change title name -->
  <title>Admin Add Game</title>
  <link rel="icon" href="../assets/images/login3.png" />

  <!-- Styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="../assets/styles/common.css"/>
  <link rel="stylesheet" href="../assets/styles/adminAddGame.css"/>
  <link rel="stylesheet" href="../assets/styles/adminCommon.css"/>

  <!-- Bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>

  <!-- Custom js -->
  <script src="../assets/js/adminAddGame.js">
  </script>
</head>

  <body class="d-flex flex-column min-vh-100 bg-grey">
    <!--Header bar -->
    <div class="container-fluid header bg-white">
      
      <div class="container header-announcement">
        <!-- fill in by adminDash.js -->
      </div>
    </div>
    <!--Header bar -->
<!--Navbar -->
    <nav class="navbar navbar-expand-xl">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="post-management">Posts Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="user-management">Users Management</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Add Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="game-management">Games Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
            </li>
      </div>
    </nav>
    <!--Navbar -->

    <!--Display Last Added bar -->
    <section id="display-section">
    </section>
    <!--Display Last Added bar -->

    <!--Add Game -->
    <section id="add-section">
      <div class="container">
        <h1>Add New Game</h1>
        <h5>Adding a new game to the database so users can analyze and discuss it.</h5>
      </div>
      <div class="container">
        <form id='newGameForm'>
          <div class="row text-center">
            <div class="col">
              <h3>Game Name</h3>
              <input class="form-control" id="gameName" placeholder="Give this game a title"/>
            </div>
          </div>
          <div class="row text-center">
            <div class="col">
              <h3>User A</h3>
            </div>
            <div class="col">
              <h3>User B</h3>
            </div>
          </div>

          <div class="row">
            <div class="col sec text-left rounded-top bg-white mr-1 ml-1 pt-2">
              <label>Username</label>
              <input class="form-control" id="username0" placeholder="Enter Player A Username" required/>
            </div>
            <div class="col sec text-left rounded-top bg-white mr-1 ml-1 pt-2">
              <label>Username</label>
              <input class="form-control" id="username1" placeholder="Enter Player B Username" required/>
            </div>
          </div>

          <div class="row">
            <div class="col bg-white mr-1 ml-1 pt-2">
              <label>Champion</label>
            </div>
            <div class="col bg-white mr-1 ml-1 pt-2">
              <label>Champion</label>
            </div>
          </div>

          <div class="row">
            <div class="col bg-white mr-1 ml-1 ">
              <label class="text-muted">Choose the champion user played</label>
            </div>
            <div class="col bg-white mr-1 ml-1 ">
              <label class="text-muted">Choose the champion user played</label>
            </div>
          </div>

          <div class="row champions">
            <div class="col bg-white mr-1 ml-1">
            </div>
            <div class="col bg-white mr-1 ml-1">
            </div>
          </div>

          <div class="row">
            <div class="col bg-white mr-1 ml-1 pt-2">
              <label>Runes</label>
            </div>
            <div class="col bg-white mr-1 ml-1 pt-2">
              <label>Runes</label>
            </div>
          </div>

          <div class="row">
            <div class="col bg-white mr-1 ml-1 ">
              <label class="text-muted">Choose 2 runes below</label>
            </div>
            <div class="col bg-white mr-1 ml-1 ">
              <label class="text-muted">Choose 2 runes below</label>
            </div>
          </div>

          <div class="row runes">
            <div class="col bg-white mr-1 ml-1">
            </div>
            <div class="col bg-white mr-1 ml-1">
            </div>
          </div>

          <div class="row">
            <div class="col bg-white mr-1 ml-1">
              <label>Summoners</label>
            </div>
            <div class="col bg-white mr-1 ml-1">
              <label>Summoners</label>
            </div>
          </div>
          
          <div class="row">
            <div class="col bg-white mr-1 ml-1">
              <label class="text-muted">Choose 2 summoners below</label>
            </div>
            <div class="col bg-white mr-1 ml-1">
              <label class="text-muted">Choose 2 summoners below</label>
            </div>
          </div>

          <div class="row summoners">
            <div class="col bg-white mr-1 ml-1">


              <!-- </div> -->
            </div>
            <div class="col bg-white mr-1 ml-1">

              <!-- </div> -->
            </div>
          </div>

          <div class="row">
            <div class="col bg-white mr-1 ml-1">
              <label>Items</label>
            </div>
            <div class="col bg-white mr-1 ml-1">
              <label>Items</label>
            </div>
          </div>

          <div class="row">
            <div class="col bg-white mr-1 ml-1">
              <label class="text-muted">Choose 6 items below</label>
            </div>
            <div class="col bg-white mr-1 ml-1">
              <label class="text-muted">Choose 6 items below</label>
            </div>
          </div>

          <div class="row items">
            <div class="col bg-white mr-1 ml-1">
            </div>
            <div class="col bg-white mr-1 ml-1">
            </div>
          </div>

          <div class="row">
            <div class="col text-left bg-white ml-1 ">
              <label>Kill</label>
              <input type="number" min="0" step="1" class="form-control" id="kill0" required/>
            </div>
            <div class="col text-left bg-white">
              <label>Death</label>
              <input type="number" min="0" step="1" class="form-control" id="death0" required/>
            </div>
            <div class="col text-left bg-white mr-1">
              <label>Assist</label>
              <input type="number" min="0" step="1" class="form-control" id="assist0" required/>
            </div>
            <div class="col text-left bg-white ml-1">
              <label">Kill</label>
              <input type="number" min="0" step="1" class="form-control" id="kill1" required/>
            </div>
            <div class="col text-left bg-white">
              <label>Death</label>
              <input type="number" min="0" step="1" class="form-control" id="death1" required/>
            </div>
            <div class="col text-left bg-white mr-1 pb-2">
              <label>Assist</label>
              <input type="number" min="0" step="1" class="form-control" id="assist1" required/>
            </div>
          </div>

          <div class="row text-center">
            <div class="col bg-white ml-1  mr-1 pt-2">
              <h4>Who won the game?</h4>
            </div>
          </div>

          <div class="row text-center">
            <div class="col  bg-white ml-1 ">
              <input type="radio" id="win0" name="win" value="0">
              <label>User A</label>
            </div>
            <div class="col bg-white mr-1 ">
              <input type="radio" id="win1" name="win" value="1">
              <label>User B</label>
            </div>
          </div>

          <input type="submit" class="btn btn-action mt-3 submit">
        </form>
      </div>
    </section>
    <!--Add Game -->

    <!-- Footer -->
    <footer class="page-footer mt-auto">
      <div class="text-center py-3 footer-text">© 2022 CSC309 Winter:
        <a href="https://github.com/csc309-winter-2022/team47"> Team 47</a>
      </div>
    </footer>
  <!-- Footer -->
  </body>
</html> 