<!-- champion analysis page -->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Todo: change title name -->
  <title>Champion Analysis</title>
  <link rel="icon" href="../assets/images/login3.png" />

  <!-- Styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="../assets/styles/userAnalysis.css"/>
  <link rel="stylesheet" href="../assets/styles/common.css"/>

  <!-- Bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>

  <!-- Custom js -->
  <script src="../assets/js/userAnalysis.js">
  </script>
  <!-- chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>

</head>

  <body class="d-flex flex-column min-vh-100 bg-blue">
    <!--Header bar -->
    <div class="container-fluid header bg-white">
      
      <div class="container header-announcement">
        <!-- fill in by adminDash.js -->
      </div>
      <div class="container header-name">
        <!-- fill in by adminDash.js -->
      </div>
      <div class="container header-img-container">
        <!-- modify by adminDash.js -->
        <img src="../assets/images/tiger1.png" class="img-profile" alt="">
      </div>
    </div>
    <!--Header bar -->
    <!--Navbar -->
    <nav class="navbar navbar-expand-xl">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="search">Search Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="my-profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="champion-analysis">Champion Analysis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">My Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
          </li>
      </div>
    </nav>
    <!--Navbar -->

    <!--body section -->
    <!-- 
    total win rate
    champion average kda
    recent n games champion pie chart (input n) with champion winrate list
    recent n game rune pie chart(input n) with rune win rate list
    recent n game summoner pie chart (input n) with summoner win rate list
     -->
    <div class="container">
        <div class="row my-3">
        </div>
        <div class="row my-2 my-analysis">
          <div class="col-md-6 py-1">
            <div class="card">
              <div class="card-body">
                  Total Winrate: <span id="t-winrate"></span>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                  Total Average Kill Death Assists Ratio: <span id="t-kda"></span>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                  Total Game Played: <span id="t-games"></span>
              </div>
            </div>
            <select id="select-input-n" class="selectpicker">
              <option value="all" disabled selected>Recent n games</option>

            </select>

          </div>
            <div class="col-md-6 py-1">
                <div class="card">
                    <select id="select-input-kda" class="selectpicker">
                      <option value="kda" selected>Kill Death Assist Ratio</option>
                      <option value="kill" >Total Kills</option>
                      <option value="death" >Total Death</option>
                      <option value="assist" >Total Assists</option>
                    </select>
                    <div class="card-body" id="champBarContainer">
                      
                      <canvas id="champBar"></canvas>

                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-body" id="cpieContainer">
                      <canvas id="champPie"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-body" id="rpieContainer">
                      <canvas id="runePie"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-body" id="spieContainer">
                      <canvas id="summonerPie"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--body section -->


    <!-- Footer -->
    <footer class="page-footer mt-auto bg-blue">
      <div class="text-center py-3 footer-text">© 2022 CSC309 Winter:
        <a href="https://github.com/csc309-winter-2022/team47"> Team 47</a>
      </div>
    </footer>
  <!-- Footer -->
  </body>
</html> 