<!-- user dashboard page -->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Todo: change title name -->
  <title>User dashboard</title>
  <link rel="icon" href="../assets/images/login3.png" />

  <!-- Styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="../assets/styles/userDash.css"/>
  <link rel="stylesheet" href="../assets/styles/common.css"/>

  <!-- Bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>

  <!-- Custom js -->
  <script src="../assets/js/userDash.js">
  </script>
</head>

  <body class="d-flex flex-column min-vh-100 bg-blue">
    <!--Header bar -->
    <div class="container-fluid header bg-white">
      
      <div class="container header-announcement">
        <!-- fill in by adminDash.js -->
      </div>
      <div class="container header-name">
        <!-- fill in by adminDash.js -->
      </div>
      <div class="container header-img-container">
        <!-- modify by adminDash.js -->
        <img src="../assets/images/tiger1.png" class="img-profile" alt="">
      </div>
    </div>
    <!--Header bar -->
    <!--Navbar -->
    <nav class="navbar navbar-expand-xl">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="forum">Forum</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Search Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="my-profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="champion-analysis">Champion Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="user-analysis">My Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
          </li>
      </div>
    </nav>
    <!--Navbar -->

    <!--Search bar -->
    <div id="search-section">
      <div class="container text-center text-white">
        <!-- search -->
        <div class="input-group search-container w-100 p-3">
          <input type="search" id="search-id-input" class="form-control" placeholder="Search Username ..." aria-label="Search" aria-describedby="search-addon" />
          <a id="search-id"><button type="button" class="btn btn-search" onclick="searchOther()">Search</button></a>
        </div>
        <!-- search -->

        <div class="row">
          <!-- recent -->
          <div class="col recent-container justify-content-center active-button" id="recentCon">
            <button type="button" class="btn btn-recent" onclick="showRecent()">Recent Search</button>
          </div>
          <!-- recent -->

          <!-- fav -->
          <div class="col fav-container justify-content-center" id="favCon">
            <button type="button" class="btn btn-fav" onclick="showFav()">Favorite</button>
          </div>

          <!-- fav -->
        </div>

        <div id="recentS" class="row search-body">
            <!-- recent users searches divs -->
        </div>

        <div id="favS" class="row search-body">
            <!-- fav users searches divs -->
        </div>
      </div>
    </div>
    <!--Search bar -->

    <!-- decor -->
    <img src="assets/images/login1.png" class="img-fluid img-bag" alt="">
    <div class="float-right"><img src="assets/images/tiger1.png" class="img-fluid img-tiger" alt=""></div>
    <!-- decor -->

    <!-- Footer -->
    <footer class="page-footer mt-auto bg-blue">
      <div class="text-center py-3 footer-text">© 2022 CSC309 Winter:
        <a href="https://github.com/csc309-winter-2022/team47"> Team 47</a>
      </div>
    </footer>
  <!-- Footer -->
  </body>
</html> 