/* colors used  */
:root {
    --dark-blue: #5383E8;
    --white: #FFFFFF;
    --light-blue: #61CAFF;
    --txt-grey: #AFAFAF;
    --bg-grey: #EAEAEA;
}

body{
    background: var(--dark-blue);
    margin: 0;
    font-family: cursive;
}

.footer-text {
    color: var(--bg-grey);
    font-weight: bolder;
}

.footer-text a{
    color: var(--white);
    font-weight: bolder;
}

.footer-text a:hover{
    text-decoration: none;
    color:var(--bg-grey);
}