/*
 * This code is for creating a login page styles.
 * Author: Zewen Ma
 */

 #rectangle {
    background-color: var(--white);
    width: 70%;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    background-color: var(--txt-grey);
    /* padding: 100px; */
    position: relative;
    width: 70%;
    height: 15%;
    
    top: 20%;
    left: 50%;
    transform: translate(-20%, -20%);
}