/*
 * This code is for creating a register page styles.
 * Author: Zewen Ma
 */

.reg-container{
    background-color: var(--white);
    margin-top: 10%;
    margin-bottom: 5%;
}
.reg-form-1{
    padding: 5%;
    
}
/* .login-form-1 h3{
    text-align: center;
    color:var(--white);
} */

.login-container form{
    padding: 10%;
}
.submit-button
{
    width: 50%;
    border-radius: 3rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin-left: 25%;
}
.reg-form-1 .submit-button{
    font-weight: 600;
    color: #fff;
    background-color: var(--light-blue);
}

.design{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--dark-blue);
    background-clip: padding-box;
    border: 1px solid var(--dark-blue);
    border-radius: 3rem;    
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#profile-img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

#luckyBag {
	/* Add properties below */
    left: 400px;
	width: 100px;
	height: 100px;
    float: left;
}

::placeholder{
    color: var(--white);
}

img.img-bag{
    margin-left: 19rem;
    position: relative;
    width: 10rem;
    margin-top: -12rem;
}

img.img-tiger{
    position: relative;
    width: 10rem;
    margin-top: -12rem;
    margin-right: 19rem;
    float: right;
}

.red {
	color: red;
}

.social{
    margin-top: 30px;
    display: flex;
}

.submit-button-register
{
    width: 30%;
    border-radius: 3rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin-left: 12%;
}
.reg-form-1 .submit-button-register{
    font-weight: 600;
    color: #fff;
    background-color: var(--light-blue);
    text-align: center;
}

.submit-button-login
{
    width: 30%;
    border-radius: 3rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin-left: 12%;
}

.reg-form-1 .submit-button-login{
    font-weight: 600;
    color: #fff;
    background-color: var(--dark-blue);
}