#search-section {
    background-color: var(--white);
    margin: 15rem 10rem 0rem 10rem;
    height: 30rem;
}

.search-container {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.search-container .form-control {
    border: none;
    box-shadow: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.recent-container{
    border-top: 1px solid var(--txt-grey);
    display:flex;
    background-color: var(--white);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.fav-container{
    display:flex;
    background-color: var(--bg-grey);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btn-recent, .btn-fav{
    border: none;
    box-shadow: none;
    color: var(--txt-grey);  
}

.btn-recent:hover, .btn-fav:hover, .btn-recent:focus, .btn-fav:focus{
    color: gray;  
    box-shadow: none;
}


.btn-search{
    background-color: var(--light-blue);
    color: var(--white);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 8rem;
    border-radius: 15px;
}

.btn-search:hover, .btn-search:focus{
    background-color: var(--dark-blue);
    color: var(--bg-grey);
    box-shadow: none;
}

img.img-bag{
    position: absolute;
    width: 20rem;
    margin-top: 32rem;
}

img.img-tiger{
    position: absolute;
    right: 5rem;
    width: 20rem;
    margin-top: 30rem;
}