#menu-container {
    padding-left: 15px;
}

.btn-action{
    background-color: var(--sea-green);
    color: var(--white);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 8rem;
    border-radius: 15px;
}

.victory-bg{
    background-color: var(--victory-blue);
}

.defeat-bg{
    background-color: var(--defeat-red);
}

.btn-action.banBtn{
    background-color: red;
    color: var(--white);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 8rem;
    border-radius: 15px;
}


.flex-half{
    flex-grow: 0.5;
}


.flex-2{
    flex-grow: 2;
}

.flex-3{
    flex-grow: 3;
}