body {
    border: 1px solid var(--white);
}

.timeline {
    overflow: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
}


.editor{
    padding: 1rem;
    margin-bottom: 2rem;
}

.posted-timeline {
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.input-post {
    height: 10rem;
    border-radius: 15px;
    padding: 1rem;
    border-color: transparent;
    width: 100%;
    resize: vertical;
}

.input-post:focus, .input-post:active {
    box-shadow: none;
    outline: none
}


.summoner-icon {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    margin-right: 3rem;
}

.summoner-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.summoner-name {
    position: absolute;

    left: 5rem;
    top: 2rem;
    padding: 1rem 2rem;
}

.summoner-name a  {
    color: black;
}

.post-content {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 15px;
    background: var(--white);
}

.posted-time {
    color: var(--txt-grey);
    font-style: italic;
    margin-bottom: 1rem;
}

.tag{
    background-color: var(--bg-grey);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 25px;
    margin-bottom: 1rem;
}

.filter{
    border-color: var(--dark-green);
    background-color: var(--sea-green);
    margin-right: 2rem;
}

.filter:active, .filter:focus, .filter:hover{
    background-color: var(--dark-green);
}

.dropdown-menu{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.dropdown-menu a:hover{
    text-decoration: none;
    color: var(--dark-green);
}

.dropdown-menu a.disable{
    pointer-events: none;
    color: var(--txt-grey);
}

.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}

.tag-area{
    margin-bottom: 0.5rem;
}

.filter-container{
    position: relative;
    z-index: 99;
    float: right;
}

.comment-area{
    margin: 2rem 2rem 2rem 5rem;
}

.comment-post{
    height: 5rem;
    border-radius: 15px;
    padding: 1rem;
    border-color: transparent;
}

.comment{
    background-color: var(--white);
    margin-bottom: 0.5rem;
    min-height: 4rem;
    border-radius: 15px;
    padding: 1rem;
    border-color: transparent;

}

.comment h6{
    color: var(--txt-grey);
}